{% extends 'layout.html' %}
{% block body%}

<div class="main-header">
    <h1>Overview</h1>
    <div>
        <i class="bi bi-search search-icon"></i>
        <i class="bi bi-plus add-icon">
            <ul class="add-details">
                <li class="open-modal-1"> <a class="open-modal-1">Add Income</a></li>
                <li class="open-modal-2"> <a class="open-modal-2">Add Expense</a></li>
                <li class="open-modal-3"> <a class="open-modal-3">Add Account</a></li>
                <li> <a href="/logout">Close Session</a></li>

            </ul>
        </i>

    </div>
</div>

<!-- Transaction Card -->
<div class="card">`
    <div class="card-header">
        <h2>All Transactions</h2>
        <i class="bi bi-plus add-item"></i>
    </div>
    <div class="card-body">
        {%for category in records%}
        {%with value = category%}
        {%if value[2] == 0 %}
        <div class="item">
            <div class="transaction_item">
                <img src="{{ url_for('static', filename='img/icon-transaction.png') }}" alt="" class="item-img">
                <div class="flex-column ml-1">
                    <h3>{{value[1]}}</h3>
                    <span class="date">{{value[4]}}</span>
                </div>
            </div>
            <span class="money">{{value[3]}}</span>
        </div>
        {%endif%}
        {%if value[2] == 1 %}
        <div class="item">
            <div class="transaction_item">
                <img src="{{ url_for('static', filename='img/icon-transaction2.png') }}" alt=""
                    class="bg-red item-img ">
                <div class="flex-column ml-1">
                    <h3>{{value[1]}}</h3>
                    <span class="date">{{value[4]}}</span>
                </div>
            </div>
            <span class="money red">{{value[3]}}</span>
        </div>
        {%endif%}
        {%endwith%}
        {%endfor%}

    </div>
</div>



<!-- Report Card -->
<div class="card">`
    <div class="card-header">
        <h2>Reports</h2>
        <i class="bi bi-plus add-item"></i>
    </div>
    <div class="card-body">

        <div class="report-item item mb-1 ">
            <div class=" transaction_item">
                <i class="bi bi-cash-stack item-icon"></i>
                <div class="flex-column ml-1">
                    <h3 class="money-elegant bold">{{simplereport[0]}}</h3>
                    <span class="text-detail">Worth</span>
                </div>
            </div>
        </div>

        <div class="report-item item mb-1">
            <div class=" transaction_item">
                <i class="bi bi-credit-card-2-back item-icon"></i>
                <div class="flex-column ml-1">
                    <h3 class="money-elegant bold">{{simplereport[1]}}</h3>
                    <span class="text-detail">Spent</span>
                </div>
            </div>
        </div>
        <div class="report-item item mb-1">
            <div class=" transaction_item">
                <i class="bi bi-cash-stack item-icon"></i>
                <div class="flex-column ml-1">
                    <h3 class="money-elegant bold">{{simplereport[2]}}</h3>
                    <span class="text-detail">Earned</span>
                </div>
            </div>
        </div>
        <canvas id="LineChart" height="150px"></canvas>
    </div>
</div>

<!-- Scheduler Card -->
<div class="card">`
    <div class="card-header">
        <h2>Scheduler <span class="Working-Warning h3"> Still Working</span></h2>
        <i class="bi bi-plus add-item"></i>
    </div>
    <div class="card-body">
        <div class="calendar">
            <span class="day">Mond</span>
            <span class="day">Tues</span>
            <span class="day">Wed</span>
            <span class="day">Thus</span>
            <span class="day">Fri</span>
            <span class="day">Sat</span>
            <span class="day">Sun</span>
        </div>
    </div>
</div>


{% endblock %}