{% extends 'landing_layout.html' %}
{% block body%}


<section class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post" action="/register" id="RegisterForm">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>

            {%with message = get_flashed_messages()%}
            {% if message %}
            <span class="d-block text-center my-4 text-danger">This account already exists, use the login or try
                again</span>
            {%endif%}
            {%endwith%}

            <div class="mb-3"><input type="text" class="form-control" name="name" placeholder="Name" required /></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" required />
            </div>
            <div class="mb-3"><input type="password" class="form-control password" name="password"
                    placeholder="Password" required />
            </div>
            <div class="mb-3"><input type="password" class="form-control password" name="password-repeat"
                    placeholder="Confirm Password" required />
            </div>
            <span class="d-none d-block text-center my-4 text-danger incorrect-password">The password is not the
                same</span>


            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Sign Up</button></div><a
                class="already" href="#">You already have an account? Login here.</a>
        </form>
    </div>
</section>
<script>

    document.querySelector('#RegisterForm').addEventListener('submit', (e) => {
        let passwords = document.querySelectorAll('.password');
        if (passwords[0].value != passwords[1].value) {
            document.querySelector('.incorrect-password').classList.remove('d-none');
            e.preventDefault();


        }

    })

</script>

{%endblock%}